body{

}


.calc{

  border-radius: 10px;
  border: 2px solid rgb(5, 75, 102);

  backdrop-filter: blur(5px);
padding:5rem;


}
body{
  background-image: url(../assets/images/back.jpg);
 

}
.container{
  margin: 10rem;
  height: 90vh;
  height: 100%;
  display: flex;
justify-content: center;
align-items: center;
}
input{
  background-color: rgb(217, 255, 255);
  padding:1rem;
  width: 86.5%;
  border: none;
  height: 3rem;
  font-size:2rem;

}
button{
background-color:rgba(87, 221, 255,0.5);

font-size:2rem;
width: 6rem !important;
border: none;
height: 5rem;
margin-top:4px;

}
button:hover{
  background-color:rgba(176, 239, 255, 0.5);

}
.clear{
  width:94.5% !important;

}
